footer {
    padding: 50px;
    min-height: 100px;
    background-color: #333;

}

footer ul {
    display: block;
    text-align: center;
    list-style-type: none;
}

footer h6 {
    color: #ccc;
}

footer ul li {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    background-color: #444;
    margin-top: 2px;
    transition: 300ms;
}

footer ul li:hover {
    background-color: #ccc;
    color: #444;
}

footer small {
    color: #ccc;
}