nav.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    min-height: 100px;
    padding: 0 10px;
    z-index: 10;
}


nav.navbar button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.navbar .navbar-collapse {
    flex-grow: 0;
}

nav.navbar .navbar-collapse ul.navbar-nav {
    margin-bottom: 20px;
}

#logo {
    width: 100px;
}

.placeholder {
    height: 110px;
}

#img-carrito {
  width: 25px;
}
