section#home {
    background-color: #333;
}

section#home img {
    width: 200px;
}

section#home h1 {
    color: white;
    font-size: 35px;
    font-family: 'Montserrat';
}

section#home h5 {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
}

section#destacados {
    margin-bottom: 30px;
}

section#destacados .card {
    position: relative;
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: none;
    box-shadow: 2px 1px 4px #bbb;
    transition: 150ms;
}

section#destacados .card:hover {
    transform: translateY(-5px);
}

section#destacados .card .card-body {
    padding-top: 5px;
}


section#destacados .card img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

section#destacados .card a .card-title {
    font-size: 20px;
}


section#destacados .card a.btn {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgb(251, 145, 1);
    color: white;
    border-radius: 0;
    font-weight: 700;
}

section#destacados p {
    font-size: 12px;
}

section#destacados div.row {
    justify-content: center;
}