section#login {
    padding-bottom: 50px;
}



.contenedorDos {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

}

.logoface {
    width: 200px;
}

.form-group {
    font-weight: bold;
}

.face {
    padding-top: 25px;
}


.cuenta {
    padding-top: 30px;
    padding-bottom: 15px;

}
