section#productos .card {
    position: relative;
    min-height: 450px;
    max-width: 300px;
    margin: 0 auto;
}

section#productos .card img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

section#productos .card a.btn {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

section#productos p {
    font-size: 12px;
}