section#productos .card {
    position: relative;
    min-height: 400px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 0;
    /*border-color: #eee;*/
    border: none;
    box-shadow: 2px 1px 5px #bbb;
    transition: 150ms;
}

section#productos .card:hover {
    transform: translateY(-5px);
}

section#productos .card .card-body {
    padding-top: 5px;
}


section#productos .card img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

section#productos .card h5.card-title {
    color: rgba(51, 87, 122, 1.00);
}

section#productos .card a.btn {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(251, 145, 1, 1.00);
    color: white;
    border-radius: 0;
    font-weight: 700;
}

section#productos p {
    font-size: 12px;
}