@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

section#profile {
    min-height: calc(100vh - 225px);

}

section#profile .card {
    margin-bottom: 20px;
}

section#profile .card-header {
    height: 130px;
    max-width: 100%;
}

section#profile .row.card-header>div {
    padding: 0 20px;
}

section#profile .card-header img {
    margin-top: 20px;
    border: 10px solid white;
    box-shadow: 1px 0 2px #555;
}

section#profile .card-header p.titulo {
    text-align: center;
    margin: 20px 0;
}

section#profile .card-header p.titulo span {
    font-size: 24px;
    font-family: Lato;
    font-weight: bold;
}

section#profile .card-body {
    margin-top: 180px;
    text-align: center;
}

section#profile span.nombre {
    color: #636C72;
}

section#profile .img-container {
    text-align: center;
}

section#profile span.profile {
    color: #9A9EA0;
}

section#profile .card-header p.titulo span.separador {
    font-size: 18px;
    margin: 0 10px 0 15px;
    display: inline-block;
    color: #CDDADD;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

section#profile h3 {
    margin-top: 20px;
    color: #636C72;
}

section#profile .table .thead-dark th {
    background-color: #444;
}