@media(min-width: 576px) {
    section#home img {
        width: 225px;
    }
}

@media(min-width: 768px) {
    section#home img {
        width: 250px;
    }

    section#profile .card-body {
        margin-top: 0;
    }

    section#profile .card-header p.titulo span {
        font-size: 45px;
    }

    section#profile .card-header p.titulo span.separador {
        font-weight: 300;
        font-size: 35px;
        margin: 0 20px 0 30px;
    }
}

@media(min-width: 992px) {
    nav.navbar .navbar-collapse ul.navbar-nav {
        margin-bottom: 0;
    }
}

@media(min-width: 1200px) {}