section#single {
    min-height: calc(100vh - 275px);
}

section#single .single-col {
    padding: 0 40px;
}

section#single h2 {}

section#single p {
    font-size: 13px;
}

section#single img {
    max-height: 500px;
}